<div class="agent" ng-class="{ 'active': $ctrl.agent.isActive }">
  <div class="agent-head">
    <h3 class="agent-h3">
      Agent {{ $ctrl.agent.name }}
    </h3>
    <div class="agent-stats">
      <div class="agent-stat">
        Action strategy: 
        <select ng-options="option for option in $ctrl.agent.actionStrategyOptions" ng-model="$ctrl.agent.selectedActionStrategy" ng-change="$ctrl.agent.changedStrategy()"></select><br>
        Response strategy: 
        <select ng-options="option for option in $ctrl.agent.responseStrategyOptions" ng-model="$ctrl.agent.selectedResponseStrategy" ng-change="$ctrl.agent.changedStrategy()"></select>
      </div>
      <div class="agent-stat">Coins: {{ $ctrl.agent.coins }}</div>
    </div>
  </div>
  <div class="agent-body">
    <p>Card: {{ $ctrl.agent.card }}</p>
    <p>Last action: {{ $ctrl.agent.action }}</p>
  </div>
</div>
