<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
		<h1>Credulous and skeptical</h1>
			<p id="intro-text">
		Here, we walk through an example with two credulous agents and one skeptical agent. 
		The game starts in the situation where 1 is the king, 2 is the queen, and 3 is the judge.
		Everybody believes this. Everybody believes that each card must be unique. 
		Agents are aware if they peformed a switch or not.
		</p>
		<p id="intro-text">
		Agent 1 and 3 are credulous. Agent 2 is skeptical. 
		Credulous agents can have beliefs that are inconsistent with the rules.
		Skeptical agents will throw out wrong beliefs after viewing their own cards.
		Skeptical agents challenge a claim if they know that the announcing agent does not 
		have that card and it is at least possible that the skeptical agent himself has the card.<br>
		<div style="background-image: url('app/images/Start.jpg'); width: 106px; height: 119px;"></div>
		<div style="background-image: url('app/images/legend.jpg'); width: 106px; height: 110px;"></div>
		</p>
		
		<p id="intro-text">
		<ul>
		<li>Agent 1 switches with Agent 2. Agent 1 now believes that 1 is the queen, 2 the king, and 3 is the judge. 
		We denote this as (Q,K,J)
		Agent 2 and 3 also hold it for possible that the switch did not happen, thus for them (K,Q,J) is also a possible world.<br>
		<div style="background-image: url('app/images/credRev1.jpg'); width: 181px; height: 274px;"></div>
		</li>
		<li>
		Agent 2 switches with Agent 3. Since agent 2 believes that 3 had the judge, and that the switch happened, he now knows that he is the judge.
		Agent 1 does not know if the switch happened, so his possible worlds are (Q,J,K) and (Q,K,J).
		Agent 3 also does not know if the switch happened, so his possible worlds are (K,Q,J), (Q,K,J), (K,J,Q) and (Q,J,K).<br>
		<div style="background-image: url('app/images/credRev2.jpg'); width: 365px; height: 435px;"></div>
		</li>
		<li>
		Agent 3 pretends to switch with Agent 1. Now we still have (Q,J,K).  
		Since Agent 3 knows he did not switch, he still has (K,Q,J), (Q,K,J), (K,J,Q) and (Q,J,K) as his possible worlds.
		Agent 1 and 2 do not know if the switch happened. Since agent 2 believes he must have the judge, he still thinks that (Q,J,K) and (K,J,Q).
		Agent 1 does not know what he gets back if the switch happens, and thus believes that (J,Q,K), (J,K,Q), (Q,J,K), (Q,K,J), (K,J,Q) and (K,Q,J) are possible.<br>
		<div style="background-image: url('app/images/credRev3.jpg'); width: 500px; height: 482px;"></div>
		</li>
		<li>Agent 1 pretends to switch with Agent 2. Agent 1 does not gain new beliefs, so his possible worlds remain (J,Q,K), (J,K,Q), (Q,J,K), (Q,K,J), (K,J,Q) and (K,Q,J).
		Agent 2 does not know if the switch happened, and knows that, if the switch did happen, he can either get the queen or the judge, so he now also believes that 
		(J,Q,K), (J,K,Q), (Q,J,K), (Q,K,J), (K,J,Q) and (K,Q,J) are possible.
		Agent 3 still believes that (K,Q,J), (Q,K,J), (K,J,Q) and (Q,J,K), since the possibilities for his own cards did not change.<br>
		<div style="background-image: url('app/images/credRev3.jpg'); width: 500px; height: 482px;"></div>
		</li>
		<li>
		Agent 2 peeks, and sees that he is the judge. Now only (K,J,Q) and (Q,J,K) are possible to him.
		The beliefs of agent 1 and 2 remain unchanged.<br>
		<div style="background-image: url('app/images/credRev4.jpg'); width: 500px; height: 482px;"></div>
		</li>
		<li>
		Agent 3 announces to be the queen. Agent one is credulous, thus he believes the announcement and does not challenge it. Agent 2 is skeptical, and just saw that he is 
		the queen. Therefore, agent 2 challenges the announcement. The cards are revealed, and it turns out that 2 is the queen and 3 is the judge. The card of agent 3 remains closed, since he did not challenge the claim.
		Yet the identity of agent 3 is now also a common belief, since each card must be unique.<br>
		<div style="background-image: url('app/images/end1.jpg'); width: 86px; height: 123px;"></div>
		</li>
		</ul>
	</div>
</div>