<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div id="uitleg" class="row">
      <h1>Simulation</h1>
      Control the simulation using the controls below. A round is defined as one turn per agent.  
    </div>
    </hr>

    <div id="game-container" class="row">
      <!--Game controls-->
      <div class="game-controls">
        <span>Round number: {{ $ctrl.roundNumber }}</span>
        <button ng-if="!$ctrl.gameOver" type="button" class="btn btn-secondary" ng-click="$ctrl.performRound()">Play round</button>
        <button ng-if="!$ctrl.gameOver" type="button" class="btn btn-secondary" ng-click="$ctrl.performTurn()">Play turn</button>
        <button ng-if="$ctrl.gameOver" type="button" class="btn btn-secondary" ng-click="$ctrl.setupGame()">Restart Game</button>

        <select ng-options="option for option in $ctrl.nAgentsOptions" ng-model="$ctrl.nAgents"></select>
      </div>

      <!--Game Model-->
      <div id="graph" class="col-xs-7 col-xs-offset-1 game-graph">
      </div>

      <!--Card game-->
      <div class="col-xs-3 col-xs-offset-1 game-cards" >
        <mascarade-agent ng-repeat="agent in $ctrl.agents" agent="agent"></mascarade-agent>
      </div>
    </div>

    <div class="row">
      
    </div>
  </div>
</div>
