<div class="title" style="background-image: url('app/images/mascarade.jpg')">
</div>

<div class="row">	
	<div class="col-xs-8 col-xs-offset-2">
	<h1>Introduction</h1>
    <p id="intro-text">
	This is the mascarade project:we aim to give you more insight about public announcement logic and lying, through the game of mascarade.
	Mascarade is a project by Jasper de Boer, Stefan Bussemaker and Margriet Vegter for the course Multi-Agent Systems at the University of Groningen. 
    </p>
	
	<h1>The game</h1>
    <p id="intro-text">
	Mascarade is a card game, developed by Bruno Faidutti in 2013. The game is about reasoning which cards you and your opponents have. Each player has
	one card (with some character, i.e. King, Queen or Judge) and the game is won by scoring some fixed number of coins. While most games start with all characters hidden,
	this game starts with all players having their card faced up, so that everyone knows who has which card. 
	The cards are then flipped and the players can no longer see each other's cards. During the game players can perform three actions:
	</p>
	
	<ol>
	<li> Swap their card - or not - with another player's card in a concealing manner, e.g. under the table. This introduces new uncertainty. Only the player who performed
	the action knows whether or not he switched the cards, the other players now hold both options for possible.</li>
	<li >Secretly look at their card. This can be a good choice when a lot of switching has taken place and the player is too uncertain of its own card. He now knows which
	card he has again.</li>
	<li>Announce their character. This announcement can be challenged by other players.</li>
	</ol>
	 <p id="intro-text">
	The actual game also features different character abilities, so that the players get rewards depending on the character that they claim if no one challenges them. For example,
	the king gets two extra coins. These abilities are left out of the game, to simplify the game. 
	</p>
	
	<p id="intro-text">
	The first four turns are used to introduce some uncertainty into the game. The first four players have to sequentially perform action 1. From the fifth
	turn on a player can also choose the second or third action. The announcement action can be performed when a player knows or bluffs to know their character.
	After an announcement each player has an opportunity to claim that they have the card of the announcer. If one or more other players claim to be the same
	character, all concerned players reveal their cards. The winning player gets a coin, while the falsely claiming parties lose one coin. After this the players 
	turn over their cards again. If the next player revealed their card in the last turn, he has is limited to performing action 1. The game can be played with 3
	to 13 players.
    </p>
  </div>
</div>
