<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
	<h1>The model</h1>
	<p id="intro-text">
	We based our simulation on public announcement logic. The revealing of the cards is an announcement in our model.
	Every player then knows which player has which card; 
	at least, those that are revealed, the other ones remain unknown. This also means that the players know that the other players do not have those cards,
	since each cards is unique and therefore no two players can have the same card. Unchallenged claims do not change the belief systems of agents.
	The possible actions, the prizes, and the penalties are kept the same.
	The character abilities are omitted, since this would otherwise unnecessarily increases the complexity of the game.  
	Agents that truthfully claim a character gain a coin, those that falsely claim a character lose a coin.
	Our model can play the game with up to nine players. 
	The game ends when one agent reaches the set goal of coins. Agents who lose a lot will have a negative amount of coins.
	<p id="intro-text">

	</p>
	They can have a credulous or a skeptical strategy for accepting and challenging beliefs. These are explained below.
	In the model, the agents are perfect logicians. This is not the case when humans play. Humans may make mistakes, or forget certain possibilities.
	</p>

	<h1>Beliefs</h1>
	<p id="intro-text">
	At the beginning of the game, the identity of all players is a common belief. 
	Those who switch, are aware if they switched. Everyone believes that everyone is unique: There are no two people with the same character. 
	When an agent views his own card, he believes what his card is.
	When a claim is challenged, the players involved reveal their cards, making the identity of those cards common beliefs.
	Note that in a game with three players, a challenged claim will always result in making the identities of all agents a common belief.
	You need at least two people to reveal their cards when a claim is challenged, and when the two cards are revealed,
	the last card also becomes a common belief. 
	As the amount of players increases, the amount of possible worlds increases. When there are three players, there are only six possible card combinations that 
	the players can have. For any n amount of players, the total amount of possible worlds = n!
	</p>

	<h1>Announcements and lying</h1>
	<p id="intro-text">
	Card reveals are a public announcemenet that must be true.
	Viewing your card is a private announcement that must be true.
	Claiming your card is a public announcement that does not have to be true.
	</p>
	<p id="intro-text">
	The agents in our model can have several strategies for announcing their character. They can truthfully announce it if they are certain of their own card. They can 
	randomly announce to have any card in the game. This could mean that they announce to have a card that is not possible according to their believe sytem
	or that they speak the truth without knowing it.
	Finally, they can bluf their card, meaning that an agent announces to have a card that they might have according to his belief system, without knowing for sure.
	The agents are not aware of each others announcement or belief strategies.
	</p>


	<h1>Belief strategies</h1>
	<p id="intro-text">
	There are several strategies to decide if an agent should treat an announcement as true or false. The beliefs of an agent are a direct result from these strategies.
	Three common strategies are: credulous, skeptical, and revising. A more detailed description of these strategies and the theory of lying can be found in 
	Van Ditmarsch, H. (2014). Dynamics of lying. Synthese, 191(5), 745-777.
	</p>

	<ul>
	<li><b>Credulous agents:</b> They belief that other agents do not lie. In our case, such an agent announcements are always true. 
	This could mean that the beliefs of this agent are inconsistent. A notable part of this strategy is that a credulous agent  will never challenge a claim, even if he 
	knows that he has the character that is claimed, making the claim inconsistent with his beliefs. The claim is treated as a truthful announcement, and since challenging true
	announcements results in a penalty, the credulous agent does not challenge the announcement. Note that, in our simulation, swapping is not treated as an announcement, so agents 
	make no assumptions about the swap.
	</li>
	<li ><b>Skeptical agents:</b> They only belief things if it is consistent with what they currently believe. If a skeptical agent hears another agent claim the judge, he will not
	believe that this is true if he thinks that he himself is the judge (even if his belief is wrong and he actually has another character). In this case, he will challenge the
	claim. The skeptical agent only challenges a claim if he knows that the claimer does not have the particular card, either because the skeptical agent knows that he himself must
	have the card,	or if he knows that the other agent cannot have the claimed card while it is possible that he himself has the card. Note that it makes no sense to challenge a claim
	if the agent knows that he does not have the particular card. This would result in a certain penalty.
	Interestingly, since switching or not switching does not cause immeadiate belief inconsistentcy, he will always belief that switches happen. He will only throw out
	impossible world on the basis of card reveals and viewing his own card. Again, no assumptions are made about the swap. Skeptical agents are also the only challengers in our model.
	</li>
	<li><b>Revising agents:</b> These agents may change their current belief. This happens by rearranging the plausibility of accessible worlds. The model then has an extra 
	plausibility parameter. A revising agent believes p if this is true in the most plausible worlds, and he knows p if it is true in all worlds. A revising agent prefers to believe that others tell 
	the truth but may revise this if there is evidence of lying. If the revising agent decided that another agent is more likely to lie, he will not believe claims made
	by this agent. 
	</li>
	</ul>

	<p id="intro-text">
	A downside of challenging a claim when they do not know your own card but you think that the other agent, who made the claim, 
	does not have the claimed card, is that it comes with more risk. The challenger will lose a coin if he does not have the card that is claimed.
	When agents only think the claimer does not have the particular card, it would be smart to decrease the likelyhood of challenging the claim as the amount of
	players who already challenged the claim increases. Other challengers will probably have the claimed card, if you are not certain of your own card.
	A revising agent could challenge a game if he assumes that the announcing agent is more likely to lie.
	These last two strategies are not adopted in our model but they are worth mentioning.
	</p>

	<p id="intro-text">
	In our model, we have implemented the skeptical and credulous belief strategies, where the skeptical agent challenges a claim if he knows that the announcing agent does not 
	have that card and it is at least possible that the skeptical agent himself has the card.
	We have also included a random challenging strategy, where the agent randomly decides if he challenges an announcement.
	As mentioned before, the credulous agent never challenges an announcement.
	We did not use the revising strategies in our simulation. This would make the simulation very complex, due to all the possible worlds that the simulation would 
	have to keep track of for each agent that employs the revising strategy.
	However, we did decide to illustrate the strategy with an example of a game with three agents, where one agent is a revising agent. This also includes some more information 
	the revising strategy.
	</p>

  </div>
</div>