$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  #intro-text {
    font-weight: 350;
    font-size: 2rem;
  }
}

.header {
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
}
.header-title {
  // flex: 1;
  font-size: 1.5rem;
  margin: 1rem;
  color: white;
}

.title {
  margin: 0;
  max-width: 100%;
  min-height: 250px;
}

.footer {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
}

#game-container {
  border: burlywood solid 1px;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}
.game-controls {
  width: 100%;
  font-weight: 300;
  font-size: 1.5rem;
  button:first-of-type {
    margin-right: 50px;
  }
}
.game-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.game-graph {
  height: 100%;
  min-height: 100%;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 70%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.links path {
  stroke-opacity: 0.6;
  stroke-width: 2;
  fill: rgba(0, 0, 0, 0);
}
.nodes circle {
  stroke: #fff;
  // fill: blue;
  stroke-width: 1.5px;
}
.node text {
  pointer-events: none;
  font: 10px sans-serif;
}
.linklabel {
  text-anchor: middle;
}

.agent {
  height: 20rem;
  width: 30rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  &.active {
    border: 2px dashed black;
  }
}
.agent-h3 {
  font-size: 2rem;
  // margin: 0 0 2rem 0;
}

.row {
  max-width: 100%;
}
