<div class="title" style="background-image: url('app/images/mascarade.jpg')">
</div>

<div class="row">	
	<div class="col-xs-8 col-xs-offset-2">
	<h1>Simulation results</h1>
    <p id="intro-text">
	In our model it is possible to choose the belief and announcement strategies of agents.
	This determines when agent challenge or claim.
	We have tested games with agents of different strategies. We were not able to do mass testing but we are going to discuss why certain
	strategy combinations win in the games that we tested.
    </p>
	
	<p id="intro-text">
	In our model it is possible to choose the belief and announcement strategies of agents.
	This determines when agent challenge or claim.
	We have tested games with agents of different strategies. We were not able to do mass testing but we are going to discuss why certain
	strategy combinations win in the games that we tested. The random belief strategy here means that an agent randomly decides if he challenges the game.
    </p>
	
	<p id="intro-text">
	Chosen strategies:
		<ul>
		<li>bluff and credulous
		</li>
		<li>truthful and skeptical
		</li>
		<li>random and random
		</li>
		</ul>
	</p>
	
	<p id="intro-text">
	In this game, the random and random agent was clearly the worst. This is not strange, since randomly challenging results in more challenging, and more wrong challenging, causing
	severe losses. On top of that, the agent has a random announcement strategy, causing him to also make announcement that are not possible to the skeptical agent,
	and these announcements will thus be challenged, and also result in losses for the random agent.
	The bluff and credulous agent won. It wins over truthful and skeptical, because bluff and credulous never challenges a claim resulting in fever losses.
	Note that the skeptical agent can be wrong: he will challenge a claim if he does not know his own card, but knows that the claiming agent does not have it,
	since such a claim would go against its beliefs.
	This will result in a loss if neither the claiming agent nor the skeptical agent has the card that is claimed.
	The only time the bluff and credulous agent loses is when the other agents happen to challenge his card. Since the bluff and credulous agent only announces cards that he could possibly have, an
	announcement has a much higher chance of resulting in a win than the announcements of a random agent. The truthful agent will always win if he announces a card, but knowing his 
	own card is a very rare event. This means that a truthful agent does not make enough claims to make the profit rate that it takes to win the game. The wins gained through the 
	skeptical strategy cannot compensate for that. 
    </p>
	
	<p id="intro-text">
	In this game, we switch the credulous strategy with the skeptical strategy:
		<ul>
		<li>bluff and skeptical
		</li>
		<li>truthful and credulous
		</li>
		<li>random and random
		</li>
		</ul>
	</p>
	<p id="intro-text">
	In this case, the bluf and skeptical agent wins. The regular claims are more likely to be true than the claims of the random agent, and he challenges claims that he knows that 
	must be wrong. Both scenarios result in profit for the bluff and skeptical agent.
	Sometimes the bluff and skeptical agent is very close with the truthful and credulous agent. Here the truthfull announcements result in guaranteed wins, and the credulous 
	strategy ensures that the agent never loses. Still, though close in coins to the bluff and skeptical agent, the truthful and credulous agent does not win enough to actually
	beat the bluff and skeptical strategy.
	The random agent is still the worst, for the same reasons as in the previous game.
	</p>
	<p id="intro-text">
	Finally, we play a game without the random strategy, since the random strategy is clearly the worst.
	These were thus the chosen strategies. This game has four agents.
		<ul>
		<li>bluff and credulous
		</li>
		<li>bluff and skeptical
		</li>
		<li>truthfull and credulous
		</li>
		<li>truthfull and skeptical
		</li>
		</ul>
	</p>
	<p id="intro-text">
	In this game, the bluff and credulous agent wins, followed by the bluffing and skeptical agent, the truthfull and credulous angent, 
	and in last place the truthfull and skeptical agent. Appearently, the wins do not make up for the losses in the skeptical strategy. The bluffing strategy is a clear winner
	when it comes to announcing. A bluf is often not challenged, since credulous agents never challenge, and skeptical agents do not always know that a claiming agent does not 
	have a card. It seems that claiming what you do not know for sure as the truth and believing everything that someone else says, wins you this game.
	</p>
	
	<p id="intro-text">
	In our current model, unchallenged claims do not impact the belief system. Further research could investigate the impact on the system when unchallenged announments are
	treated as truthfull (and thus change the beliefs of an agent). A consequence is that the real world might not be possible to an agent, if he just beliefs everything that 
	anyone says.
	</p>
  </div>
</div>
