<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<h1>Example</h1>
			<p id="intro-text">
		Now we make one of the three agents a revising agent.
		Before that, we can ellaborate on this strategy.
		A revising agent starts with the belief that the credibility of other agents is neutral. If the credibility is neutral, the revising agent will make no assumptions
		about whether switches happened. He will also not challenge the claim of others unless he knows that he has the card that is claimed.
		Moreover, if the lying chance for an agent is neutral, unchallenged card announcements are likely to be true.
		</p>
		<p id="intro-text">
		When the revising agent finds evidence of speaking the truth, the credibility of the other agent increases, making a world where this other agent speaks the truth more likely.
		Note that the results of switches can be used as evidence for lying or speaking the truth. However the revising agent still makes no assumptions about wheather switches happen.
		The lying likelyhood is only applied to the announcement of a character.
		Evidence of speaking the truth can be found when the revising agent finds a different card when he peeks, just after another agent switched cards with the revising agent. 
		Another case is when a claim turns out true, or when the challenger turns out to have the card that was claimed by another agent (the challenger is then more credible).
		When the revising agent finds it more likely that another agent speaks the truth, he assumes that claims are true.
		</p>
		<p id="intro-text">
		When a revising agent finds evidence of lying, the credibiliy of another agent goes down. In that case, a world where this other agent lies is more likely. 
		This happens when the revising agent peeks and finds the same card he had before the supposed switch, just after another agent switched cards with the revising agent.
		The other cases are when a claim turns out false, or when the challenger does not have the card that is claimed.
		The revising agent will then believe that claims are likely to be false.
		</p>
		
		<p id="intro-text">
		The game starts in the situation where 1 is the king, 2 is the queen, and 3 is the judge, also denoted as (K,Q,J).
		Everybody knows this. Everybody knows that each card must be unique. 
		Agent 1 is a revising agent, starting with the belief that the credibility of agent 2 and 3 is neutral.
		For the sake of keeping the picture clear, the credibility parameter is left out of the picture.
		Agent 2 is a skeptical agent, and agent 3 is a credulous agent. 
		A non-credulous agent challenges a claim if he knows that the announcing agent does not 
		have that card and it is at least possible that the non-credulous agent himself has the card.<br>
		<div style="background-image: url('app/images/Start.jpg')"></div>
		<div style="background-image: url('app/images/legend.jpg')"></div>
		</p>
		<p id="intro-text">
		<ol>
		<li>
		Agent 1 switches cards with Agent 2. Agent 1 now believes that (Q,K,J)
		Agent 2 and 3 do not know if the switch happened, thus they believe that (Q,K,J) and (K,Q,J) are possible.<br>
		<div style="background-image: url('app/images/credRev1.jpg')"></div>
		</li>
		<li>
		Agent 2 switches with Agent 3. Since all agents believe that 3 had the judge, and agent 2 knows that the switch happened, agent 2 now believes that he is the judge.
		Agent 1 does not know if the switch happened, so his possible worlds are (Q,J,K) and (Q,K,J).
		Agent 3 also does not know if the switch happened, so his possible worlds are (Q,J,K), (Q,K,J), (K,J,Q) and (K,Q,J)<br>
		<div style="background-image: url('app/images/credRev2.jpg')"></div>
		</li>
		<li>
		Agent 3 pretends to switch with Agent 1. Now we still have (Q,K,J).  
		Since Agent 3 knows he did not switch, he still has (Q,J,K), (Q,K,J), (K,J,Q) and (K,Q,J) as his possible worlds.
		Agent 1 and 2 do not know if the switch happened. Since agent 2 believes he must have the judge, he still thinks that (Q,J,K) and (K,J,Q).
		Agent 1 does not know what he gets back if the switch did happen, thus he believes that (J,Q,K), (J,K,Q), (Q,J,K), (Q,K,J), (K,J,Q), and (K,Q,J) are possible.<br>
		<div style="background-image: url('app/images/credRev3.jpg')"></div>
		</li>
		<li>
		Agent 1 views his own card. He sees that he is the queen. He also now knows that 3 did not actually switch the cards since his 
		card remained the same. He changes his belief system such that agent 3 is now more likely to lie than speak the truth.<br> 
		<div style="background-image: url('app/images/revis4.jpg')"></div>
		</li>
		<li>
		Agent 2 announces to be the judge. No one challenges this, since 3 believes the claim because of his credulous strategy, and 1 knows that he is not the judge
		(in which case challenging would result in a certain penalty). 
		2 gets a coin. The possible worlds for each agent remain the same.
		</li>
		<li>
		Agent 3 pretends to switch with 2. Agent 3 knows he did not switch, thus he still holds (Q,J,K), (Q,K,J), (K,J,Q) and (K,Q,J) for possible.
		Agent 1  and agent 2 believe that (J,Q,K), (J,K,Q), (Q,J,K), (Q,K,J), (K,J,Q), and (K,Q,J) are possible. <br>
		<div style="background-image: url('app/images/revis6.jpg')"></div>
		</li>
		<li>
		Agent 1 pretends to switch with agent 2. Agent 3 does no longer know that either he or agent 2 has the judge, so now agent 3 also holds all worlds for possible.
		All agents hold all worlds for possible.<br>
		<div style="background-image: url('app/images/revis7.jpg')"></div>
		</li>
		<li>
		Agent 2 peeks, and sees that he is the judge. Now only (K,J,Q) and (Q,J,K) are possible to him.<br>
		<div style="background-image: url('app/images/revis8.jpg')"></div>
		</li>
		<li>
		Agent 3 announces to be the judge.  Agent 2 knows that this is false, since he just saw that he himself is
		the judge. Since agent 2 is skeptical, agent 2 challenges the claim.
		Agent 1 believes that all worlds are possible, but finds it more likely that agent 3 lies, thus agent 1 also challenges the claim.
		All cards are revealed and it turns out that agent 1 is the queen, agent 2 is the judge and agent 3 is the king.
		Everyone now knows this is the real world.<br>
		<div style="background-image: url('app/images/end1.jpg')"></div>
		</li>
		</ol>
	</div>
</div>
